<%- include('header') %>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="jumbotron jumbotron-fluid mb-0 pb-1">
    <div class="container">
      <h1 class="display-6 mt-4">Enjoy Parties!</h1>
      <p class="lead">Let's live life.</p>
    </div>
  </div>

    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <img class="card-img-top" src="https://source.unsplash.com/collection/190727/400x300" alt="Card image">
            <h3 class="card-title display-6">RoGPe Paul<i class="fa fa-info-circle"></i></h3>
            <p class="card-text display-6">Fullstack developer passionate about javascript, nodejs. My friends are: express, ejs, mongodb, mongoose, restful, font-awesome, etc...</p>
            <a href="https://github.com/Rogpe-Prog" class="btn btn-dark">See Profile</a>
          </div>
        </div>
      </div>
    </div>
</main>

<%- include('footer') %>