<%- include ('header') %>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="jumbotron jumbotron-fluid mb-0 pb-3">
    <div class="container">
      <h1 class="display-6 mt-4">Welcome to the party!</h1>
      <p class="lead">Here you are buddy, bring your own beers and snacks and enjoy, but first enter your login!</p>
    </div>
  </div>
</main>

<%- include('parties') %>

<%- include ('footer') %>

